

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/


# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

Content/
Content/QuestionGroupTemp
App_Data/

node_modules
build
*.log

.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Client App 
.quasar
.DS_Store
.thumbs.db
node_modules
/dist
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
.gi  t
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/NasleGhalam.WebApi/Content/QuestionGroupTemp
/NasleGhalam.WindowsApp/159.69.82.251
/NasleGhalam.WindowsApp/ftp/159.69.82.251/WindowsApp
